.cvSlider {
  width: 100%;
  min-height: 150px;
  &_container {
    max-width: 60%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    a {
      .categoriesBox {
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(200%);
        background-color: rgba(255, 255, 255, 0);
        border-radius: 12px;
        border: 1px solid rgb(209, 213, 219);

        width: 120px;
        height: 120px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        text-align: center;
        color: white  ;
        font-weight: bold;
        cursor: pointer;
        transition: 300ms;
        &:hover {
          background-color: #3e6b89;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          color: white;
        }
      }
    }
  }
}
@media only screen and (max-width: 950px) {
  .cvSlider {
    &_container {
      a {
        .categoriesBox {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .cvSlider {
    &_container {
      a {
        .categoriesBox {
          width: 75px;
          height: 75px;
          font-size: 12px;
        }
      }
    }
  }
}
@media only screen and (max-width: 555px) {
  .cvSlider {
    &_container {
      a {
        .categoriesBox {
          width: 50px;
          height: 50px;
          font-size: 8px;
          overflow: hidden;
        }
      }
    }
  }
}
.swiper-button-prev:after {
  font-size: 20px !important;
}
.swiper-button-next:after {
  font-size: 20px !important;
}
@media only screen and (max-width: 555px) {
  .swiper-button-prev:after {
    font-size: 15px !important;
  }
  .swiper-button-next:after {
    font-size: 15px !important;
  }
}
